header {
  display: flex;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  width: 100%;
  list-style-type: none;
  padding-left: inherit;
  margin: 0;
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in-out;
}

.dropdown-menu.visible {
  transform: scaleY(1);
  opacity: 1;
  pointer-events: all;
}

.dropdown-menu li button {
  width: 100%;
}